@tailwind base;
@tailwind components;
@tailwind utilities;

/* ovveriding some Tailwind preflight styles */
@layer base {
  html:focus-within {
    @apply scroll-smooth;
  }

  body {
    @apply min-h-screen;
    @apply font-sans;
    @apply bg-light-background dark:bg-dark-background transition duration-200 ease-in-out;

    text-rendering: optimizeSpeed;
  }

  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    overflow-wrap: break-word;
  }

  p {
    font: inherit;
  }

  img,
  svg,
  video,
  canvas,
  audio,
  iframe,
  embed,
  object {
    @apply max-w-full;
  }

  *,
  *::before,
  *::after {
    @apply box-border;
  }

  /* input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
    content: url("https://cdn3.iconfinder.com/data/icons/faticons/32/remove-01-512.png");
    width: 20px;
  } */

  @media (prefers-reduced-motion: reduce) {
    html:focus-within {
      scroll-behavior: auto;
    }
    *,
    *::before,
    *::after {
      animation-duration: 0.01ms !important;
      animation-iteration-count: 1 !important;
      transition-duration: 0.01ms !important;
      scroll-behavior: auto !important;
    }
  }
}

@layer components {
  .flag {
    @apply w-full aspect-[4/3] object-cover;
  }

  .card {
    @apply rounded-md shadow-md bg-light-element ring-2 ring-inset overflow-hidden ring-light-element text-light-text dark:bg-dark-element dark:ring-dark-element dark:text-dark-text;
  }
}

@layer utilities {
  .shadow-custom {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }

  .shadow-custom-2 {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  }

  .loading {
    @apply opacity-25 transition-opacity;
  }
}
